* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica,
  background-color= #950db8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 20px;
}

.buttons button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #e00fa2;
  color: white;
  transition: background-color 0.3s;
}
.no-button {
  position: absolute;
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, top 0.3s ease-in-out;
}

.buttons button:hover {
  background-color: #45a049;
}

#gifContainer {
  margin-top: 20px;
}

#gif {
  width: 200px;
  height: auto;
}
.love {
  position: absolute;
  font-size: 24px;
  color: red;
  animation: floatUp 1s ease-in-out forwards;
}
@keyframes floatUp {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-50px); opacity: 0; }
}